<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Profile</title>
</head>
<body>

  <div class="min-h-full">
    <div class="bg-[#F5C3C3] pb-28">
      <nav class="bg-[#F5C3C3]">
        <div class="max-w-7xl mx-auto px-2 sm:px-4 lg:px-8">
          <div class="relative h-16 flex items-center justify-between">
            <div class="px-2 flex items-center lg:px-0">
              <div class="flex-shrink-0">
                <span class="sr-only">Workflow</span>
                <img class="mx-auto h-6 w-auto" src="static/Digifem-bl.png" alt="Workflow">
              </div>
              <div class="hidden lg:block lg:ml-10">
                <div class="flex space-x-4">
                  <!-- Current: "bg-indigo-700 text-white", Default: "text-white hover:bg-indigo-500 hover:bg-opacity-75" -->
                  
                  <a href="#" class="text-[#074D44] hover:text-white hover:bg-[#F98585] hover:bg-opacity-75 rounded-md py-2 px-3 text-sm font-medium"> Nuestro Team </a>
  
                  <a href="#" class="text-[#074D44] hover:text-white hover:bg-[#F98585] hover:bg-opacity-75 rounded-md py-2 px-3 text-sm font-medium"> Calendario </a>
  
                  <a href="#" class="text-[#074D44] hover:text-white hover:bg-[#F98585] hover:bg-opacity-75 rounded-md py-2 px-3 text-sm font-medium"> Finanzas </a>
  
                  <a href="#" class="text-[#074D44] hover:text-white hover:bg-[#F98585] hover:bg-opacity-75 rounded-md py-2 px-3 text-sm font-medium"> Ayuda </a>
                </div>
              </div>
            </div>
            <div class="flex-1 px-2 flex justify-center lg:ml-6 lg:justify-end">
              
                
                <div class="relative text-gray-400 focus-within:text-gray-600">
                  
                    <!-- Heroicon name: solid/search -->
                    
                  
                  
                </div>
              
            </div>
            <div class="flex lg:hidden">
              <!-- Mobile menu button -->
              <button type="button" class="bg-indigo-600 p-2 rounded-md inline-flex items-center justify-center text-indigo-200 hover:text-white hover:bg-indigo-500 hover:bg-opacity-75 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-indigo-600 focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <!--
                  Heroicon name: outline/menu
  
                  Menu open: "hidden", Menu closed: "block"
                -->
                <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
                </svg>
                <!--
                  Heroicon name: outline/x
  
                  Menu open: "block", Menu closed: "hidden"
                -->
                <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
              </button>
            </div>
            <div class="hidden lg:block lg:ml-4">
              <div class="flex items-center">
              <a href="/logout" type="submit" class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-[#074D44] hover:bg-[#007566] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-[#007566]">Cerrar sesión</a>
                <!-- <button type="button" class="bg-indigo-600 flex-shrink-0 rounded-full p-1 text-indigo-200 hover:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-indigo-600 focus:ring-white">
                  <span class="sr-only">View notifications</span> -->
                  <!-- Heroicon name: outline/bell -->
                  <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                    <!-- <path stroke-linecap="round" stroke-linejoin="round" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" /> -->
                  </svg>
                </button>
  
                <!-- Profile dropdown -->
                <div class="ml-3 relative flex-shrink-0">
                  <div>
                    <button type="button" class="bg-indigo-600 rounded-full flex text-sm text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-indigo-600 focus:ring-white" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                      <!-- <span class="sr-only">Open user menu</span> -->
                      <!-- <img class="rounded-full h-8 w-8" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt=""> -->
                    </button>
                  </div>
  
                  <!--
                    Dropdown menu, show/hide based on menu state.
  
                    Entering: "transition ease-out duration-100"
                      From: "transform opacity-0 scale-95"
                      To: "transform opacity-100 scale-100"
                    Leaving: "transition ease-in duration-75"
                      From: "transform opacity-100 scale-100"
                      To: "transform opacity-0 scale-95"
                  -->
                  <!-- <div class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1"> -->
                    <!-- Active: "bg-gray-100", Not Active: "" -->
                    <!-- <a href="#" class="block py-2 px-4 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-0"> Your Profile </a>
  
                    <a href="#" class="block py-2 px-4 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-1"> Setting </a>
  
                    <a href="#" class="block py-2 px-4 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-2"> Sign out </a> -->
                  <!-- </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <!-- Mobile menu, show/hide based on menu state. -->
        <div class="lg:hidden" id="mobile-menu">
          <div class="px-2 pt-2 pb-3 space-y-1">
            <!-- Current: "bg-indigo-700 text-white", Default: "text-white hover:bg-indigo-500 hover:bg-opacity-75" -->
            <a href="#" class="bg-indigo-700 text-white block rounded-md py-2 px-3 text-base font-medium" aria-current="page"> Dashboard </a>
  
            <a href="#" class="text-white hover:bg-indigo-500 hover:bg-opacity-75 block rounded-md py-2 px-3 text-base font-medium"> Team </a>
  
            <a href="#" class="text-white hover:bg-indigo-500 hover:bg-opacity-75 block rounded-md py-2 px-3 text-base font-medium"> Projects </a>
  
            <a href="#" class="text-white hover:bg-indigo-500 hover:bg-opacity-75 block rounded-md py-2 px-3 text-base font-medium"> Calendar </a>
  
            <a href="#" class="text-white hover:bg-indigo-500 hover:bg-opacity-75 block rounded-md py-2 px-3 text-base font-medium"> Reports </a>
          </div>
          <div class="pt-4 pb-3 border-t border-indigo-700">
            <div class="px-5 flex items-center">
              <div class="flex-shrink-0">
                <img class="rounded-full h-10 w-10" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
              </div>
              <div class="ml-3">
                <div class="text-base font-medium text-white">Tom Cook</div>
                <div class="text-sm font-medium text-indigo-300">tom@example.com</div>
              </div>
              <button type="button" class="ml-auto bg-indigo-600 flex-shrink-0 rounded-full p-1 text-indigo-200 hover:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-indigo-600 focus:ring-white">
                <span class="sr-only">View notifications</span>
                <!-- Heroicon name: outline/bell -->
                <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
                </svg>
              </button>
            </div>
            <!-- <div class="mt-3 px-2 space-y-1">
              <a href="#" class="block rounded-md py-2 px-3 text-base font-medium text-white hover:bg-indigo-500 hover:bg-opacity-75"> Your Profile </a>
  
              <a href="#" class="block rounded-md py-2 px-3 text-base font-medium text-white hover:bg-indigo-500 hover:bg-opacity-75"> Settings </a>
  
              <a href="#" class="block rounded-md py-2 px-3 text-base font-medium text-white hover:bg-indigo-500 hover:bg-opacity-75"> Sign out </a>
            </div> -->
          </div>
        </div>
      </nav>
      <header class="py-10">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
          <h2 class="text-3xl tracking-tight font-bold text-[#074D44] sm:text-4xl sm:tracking-tight">Bienvenida {{ current_user.user_name }}</h2>
        <p class="tracking-tight max-w-2xl text-xl text-gray-600 sm:tracking-tight">Estos son tus emprendimientos registrados:</p>
          <!-- <h1 class="text-3xl tracking-tight font-bold text-white">Dashboard</h1> -->
        </div>
      </header>
    </div>
  
    <main class="-mt-32">
      <div class="max-w-7xl mx-auto pb-12 px-4 sm:px-6 lg:px-8">
        <!-- Replace with your content -->
        
        <!-- /End replace -->
      </div>
    </main>
  </div>
  
<!-- HASTA ACÁAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA -->

<div class="relative bg-gray-50 pt-16 pb-20 px-4 sm:px-6 lg:pt-24 lg:pb-28 lg:px-8">
    <div class="absolute inset-0">
      <div class="bg-white h-1/3 sm:h-2/3"></div>
    </div>
    <div class="relative max-w-7xl mx-auto">
      <!-- <div class="text-center">
        <h2 class="text-3xl tracking-tight font-bold text-gray-900 sm:text-4xl sm:tracking-tight">Bienvenida {{ current_user.user_name }}</h2>
        <p class="mt-3 max-w-2xl mx-auto text-xl text-gray-500 sm:mt-4">Estos son tus emprendimientos registrados:</p>
      </div> -->
      <div class="flex mt-12 mx-auto gap-3">
        {% for emprendimiento in emprendimientos %}
        <div class="flex flex-col rounded-lg shadow-lg overflow-hidden w-[33vw]">
          <div class="flex-shrink-0">
            <img class="h-48 w-full object-cover" src="/static/SoCool.png" alt="">
          </div>
          <div class="flex-1 bg-white p-6 flex flex-col justify-between">
            <div class="flex-1">
              <p class="text-sm font-medium text-indigo-600">
                <a href="{{url_for('ver_emprendimientos', emp_id=emprendimiento.emp_id)}}" class="hover:underline"> Ver </a>
              </p>
              <a href="#" class="block mt-2">
                <p class="text-xl font-semibold text-gray-900">{{ emprendimiento.emp_name }}</p>
              </a>
            </div>
            
          </div>
          {% endfor %}
        </div>
  
        <div class="flex flex-col rounded-lg shadow-lg overflow-hidden w-[33vw]">
          <div class="flex-shrink-0">
            <img class="h-48 w-full object-cover" src="/static/CoolPets.png" alt="">
          </div>
          <div class="flex-1 bg-white p-6 flex flex-col justify-between">
            <div class="flex-1">
              <p class="text-sm font-medium text-indigo-600">
                <a href="#" class="hover:underline"> Mascotas </a>
              </p>
              <a href="#" class="block mt-2 justify-evenly">
                <p class="text-xl font-semibold text-gray-900">CoolPets</p>
                </div>
            </div>
        </div>
        <a type="button" href="/registrar_emprendimiento" class="relative w-[33vw] border-2 border-gray-300 border-dashed rounded-lg p-20 text-center hover:border-gray-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            <svg class="mx-auto h-12 w-12 text-gray-400" xmlns="http://www.w3.org/2000/svg" stroke="currentColor" fill="none" viewBox="0 0 48 48" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 14v20c0 4.418 7.163 8 16 8 1.381 0 2.721-.087 4-.252M8 14c0 4.418 7.163 8 16 8s16-3.582 16-8M8 14c0-4.418 7.163-8 16-8s16 3.582 16 8m0 0v14m0-4c0 4.418-7.163 8-16 8S8 28.418 8 24m32 10v6m0 0v6m0-6h6m-6 0h-6" />
            </svg>
              <span class="mt-2 block text-sm font-medium text-gray-900"> Ingresa otro emprendimiento </span>
        </a>
          </div>
        </div>
      </div>      
    </div>
</div>


  <!-- This example requires Tailwind CSS v2.0+ -->
  
</body>
</html>