<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="" method="POST">
      <label for="">Nombre del emprendimiento</label>
      <input type="text" name="emp_name" id="emp_name" />
      <label for="">RUC</label>
      <input type="text" name="emp_ruc" id="emp_ruc" />
      <label for="">Ciudad</label>
      <input type="text" name="emp_city" id="emp_city" />
      <label for="">Description</label>
      <input type="text" name="emp_desc" id="sss" />
      <button type="submit">Guardar</button>
    </form>
  </body>
</html>
